<script
  src="https://kit.fontawesome.com/204c3151f1.js"
  crossorigin="anonymous">
import Body from "./Components/Body.svelte";

</script>

<main>

<h2 class="text-center text-3xl m-4 ">Chat Application</h2>
<div class="container m-auto p-8 border-2 border-green-500 border-opacity-100 ">
  <div
    class="container border-2 border-blue-200 border-opacity-100 m-4 bg-gray-400 p-8"
  >
    <p class="text-xs text-right">Rojan ADhikari</p>
    <p class="text text-right">Hello. How are you today?</p>
    <p class="text-right text-xs">11:00</p>
  </div>

  <div
    class="container py-8  px-8 border-2 border-blue-200 border-opacity-100 m-4"
  >
    <p class="text-xs">Sabin Gautam</p>

    <p>Hey! I'm fine. Thanks for asking!</p>
    <p class="text-left text-xs">11:01</p>
  </div>

  <div
    class="container py-8 px-8 border-2 border-blue-200 border-opacity-100 m-4 bg-gray-400"
  >
    <p class="text-xs text-right">Rojan ADhikari</p>

    <p class="text-right">Sweet! So, what do you wanna do today?</p>
    <p class="text-right text-xs">11:02</p>
  </div>

  <div
    class="container py-8  px-8 border-2 border-blue-200 border-opacity-100 m-4"
  >
    <p class="text-xs">Rojan ADhikari</p>

    <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
    <p class="text-left text-xs">11:05</p>
  </div>

  <!-- Form Section -->
  <div class="container lg-auto darker p-8 flex justify-end">
    <div class="w-11/12">
      <input type="text" class="flex bg-blue-200 p-2 w-full" />
    </div>

    <div class="ml-6">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full"
        >Send</button
      >
    </div>
  </div>
</div>
</main>



<style>
</style>
